<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container">

    <form method="post" action="/update/<%=users._id %>">
      <div class="form-group">
        <label> <b>User Name</b></label>
        <input type="text" name="name" class="from-control" value="<%=users.name %>">
      </div>
      
      <!-- <div class="form-group">
        <label> <b>User email</b></label>
        <input type="email" name="email" class="from-control" value="<%=users.email %>">
      </div>
      <div class="form-group">
        <label> <b>Password</b></label>
        <input type="password" name="password" class="from-control" value="<%=users.password %>">
      </div> -->
      <input type="submit" name="update" value="update" class="btn btn-success">

    </form>
  </div>
</body>
</html>